# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
venv/
ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data files
data/raw/*
data/db/*
data/processed/*

# OS files
.DS_Store
Thumbs.db